/* _content/JKEY_INTERNAL/Viewsa/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yrfohaqn3m] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yrfohaqn3m] {
  color: #0077cc;
}

.btn-primary[b-yrfohaqn3m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yrfohaqn3m], .nav-pills .show > .nav-link[b-yrfohaqn3m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yrfohaqn3m] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yrfohaqn3m] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yrfohaqn3m] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yrfohaqn3m] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-yrfohaqn3m] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/JKEY_INTERNAL/Views/Shared/_Layout.cshtml.rz.scp.css */
/**
* Template Name: NiceAdmin
* Updated: Mar 09 2023 with Bootstrap v5.2.3
* Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root[b-rq0fm5ib19] {
    scroll-behavior: smooth;
}

body[b-rq0fm5ib19] {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a[b-rq0fm5ib19] {
    color: #4154f1;
    text-decoration: none;
}

    a:hover[b-rq0fm5ib19] {
        color: #717ff5;
        text-decoration: none;
    }

h1[b-rq0fm5ib19],
h2[b-rq0fm5ib19],
h3[b-rq0fm5ib19],
h4[b-rq0fm5ib19],
h5[b-rq0fm5ib19],
h6[b-rq0fm5ib19] {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main[b-rq0fm5ib19] {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main[b-rq0fm5ib19] {
        padding: 20px;
    }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle[b-rq0fm5ib19] {
    margin-bottom: 10px;
}

    .pagetitle h1[b-rq0fm5ib19] {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 600;
        color: #012970;
    }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top[b-rq0fm5ib19] {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i[b-rq0fm5ib19] {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }

    .back-to-top:hover[b-rq0fm5ib19] {
        background: #6776f4;
        color: #fff;
    }

    .back-to-top.active[b-rq0fm5ib19] {
        visibility: visible;
        opacity: 1;
    }

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu[b-rq0fm5ib19] {
    border-radius: 4px;
    padding: 10px 0;
    animation-name: dropdown-animate-b-rq0fm5ib19;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

    .dropdown-menu .dropdown-header[b-rq0fm5ib19],
    .dropdown-menu .dropdown-footer[b-rq0fm5ib19] {
        text-align: center;
        font-size: 15px;
        padding: 10px 25px;
    }

        .dropdown-menu .dropdown-footer a[b-rq0fm5ib19] {
            color: #444444;
            text-decoration: underline;
        }

            .dropdown-menu .dropdown-footer a:hover[b-rq0fm5ib19] {
                text-decoration: none;
            }

    .dropdown-menu .dropdown-divider[b-rq0fm5ib19] {
        color: #a5c5fe;
        margin: 0;
    }

    .dropdown-menu .dropdown-item[b-rq0fm5ib19] {
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;
    }

        .dropdown-menu .dropdown-item i[b-rq0fm5ib19] {
            margin-right: 10px;
            font-size: 18px;
            line-height: 0;
        }

        .dropdown-menu .dropdown-item:hover[b-rq0fm5ib19] {
            background-color: #f6f9ff;
        }

@media (min-width: 768px) {
    .dropdown-menu-arrow[b-rq0fm5ib19]::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@keyframes dropdown-animate-b-rq0fm5ib19 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

/* Light Backgrounds */
.bg-primary-light[b-rq0fm5ib19] {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
}

.bg-secondary-light[b-rq0fm5ib19] {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.bg-success-light[b-rq0fm5ib19] {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
}

.bg-danger-light[b-rq0fm5ib19] {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-warning-light[b-rq0fm5ib19] {
    background-color: #fff3cd;
    border-color: #fff3cd;
}

.bg-info-light[b-rq0fm5ib19] {
    background-color: #cff4fc;
    border-color: #cff4fc;
}

.bg-dark-light[b-rq0fm5ib19] {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
}

/* Card */
.card[b-rq0fm5ib19] {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header[b-rq0fm5ib19],
.card-footer[b-rq0fm5ib19] {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title[b-rq0fm5ib19] {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

    .card-title span[b-rq0fm5ib19] {
        color: #899bbd;
        font-size: 14px;
        font-weight: 400;
    }

.card-body[b-rq0fm5ib19] {
    padding: 0 20px 20px 20px;
}

.card-img-overlay[b-rq0fm5ib19] {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading[b-rq0fm5ib19] {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/* Close Button */
.btn-close[b-rq0fm5ib19] {
    background-size: 25%;
}

    .btn-close:focus[b-rq0fm5ib19] {
        outline: 0;
        box-shadow: none;
    }

/* Accordion */
.accordion-item[b-rq0fm5ib19] {
    border: 1px solid #ebeef4;
}

.accordion-button:focus[b-rq0fm5ib19] {
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed)[b-rq0fm5ib19] {
    color: #012970;
    background-color: #f6f9ff;
}

.accordion-flush .accordion-button[b-rq0fm5ib19] {
    padding: 15px 0;
    background: none;
    border: 0;
}

    .accordion-flush .accordion-button:not(.collapsed)[b-rq0fm5ib19] {
        box-shadow: none;
        color: #4154f1;
    }

.accordion-flush .accordion-body[b-rq0fm5ib19] {
    padding: 0 0 15px 0;
    color: #3e4f6f;
    font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb[b-rq0fm5ib19] {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

    .breadcrumb a[b-rq0fm5ib19] {
        color: #899bbd;
        transition: 0.3s;
    }

        .breadcrumb a:hover[b-rq0fm5ib19] {
            color: #51678f;
        }

    .breadcrumb .breadcrumb-item[b-rq0fm5ib19]::before {
        color: #899bbd;
    }

    .breadcrumb .active[b-rq0fm5ib19] {
        color: #51678f;
        font-weight: 600;
    }

/* Bordered Tabs */
.nav-tabs-bordered[b-rq0fm5ib19] {
    border-bottom: 2px solid #ebeef4;
}

    .nav-tabs-bordered .nav-link[b-rq0fm5ib19] {
        margin-bottom: -2px;
        border: none;
        color: #2c384e;
    }

        .nav-tabs-bordered .nav-link:hover[b-rq0fm5ib19],
        .nav-tabs-bordered .nav-link:focus[b-rq0fm5ib19] {
            color: #4154f1;
        }

        .nav-tabs-bordered .nav-link.active[b-rq0fm5ib19] {
            background-color: #fff;
            color: #4154f1;
            border-bottom: 2px solid #4154f1;
        }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo[b-rq0fm5ib19] {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo[b-rq0fm5ib19] {
        width: 280px;
    }
}

.logo img[b-rq0fm5ib19] {
    max-height: 60px;
    width: auto;
    margin-right: 6px;
}

.logo span[b-rq0fm5ib19] {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.header[b-rq0fm5ib19] {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

    .header .toggle-sidebar-btn[b-rq0fm5ib19] {
        font-size: 32px;
        padding-left: 10px;
        cursor: pointer;
        color: #012970;
    }

    .header .search-bar[b-rq0fm5ib19] {
        min-width: 360px;
        padding: 0 20px;
    }

@media (max-width: 1199px) {
    .header .search-bar[b-rq0fm5ib19] {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    .header .search-bar-show[b-rq0fm5ib19] {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}

.header .search-form[b-rq0fm5ib19] {
    width: 100%;
}

    .header .search-form input[b-rq0fm5ib19] {
        border: 0;
        font-size: 14px;
        color: #012970;
        border: 1px solid rgba(1, 41, 112, 0.2);
        padding: 7px 38px 7px 8px;
        border-radius: 3px;
        transition: 0.3s;
        width: 100%;
    }

        .header .search-form input:focus[b-rq0fm5ib19],
        .header .search-form input:hover[b-rq0fm5ib19] {
            outline: none;
            box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
            border: 1px solid rgba(1, 41, 112, 0.3);
        }

    .header .search-form button[b-rq0fm5ib19] {
        border: 0;
        padding: 0;
        margin-left: -30px;
        background: none;
    }

        .header .search-form button i[b-rq0fm5ib19] {
            color: #012970;
        }

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul[b-rq0fm5ib19] {
    list-style: none;
}

.header-nav > ul[b-rq0fm5ib19] {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon[b-rq0fm5ib19] {
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
}

.header-nav .nav-profile[b-rq0fm5ib19] {
    color: #012970;
}

    .header-nav .nav-profile img[b-rq0fm5ib19] {
        max-height: 36px;
    }

    .header-nav .nav-profile span[b-rq0fm5ib19] {
        font-size: 14px;
        font-weight: 600;
    }

.header-nav .badge-number[b-rq0fm5ib19] {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

.header-nav .notifications[b-rq0fm5ib19] {
    inset: 8px -15px auto auto !important;
}

    .header-nav .notifications .notification-item[b-rq0fm5ib19] {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        transition: 0.3s;
    }

        .header-nav .notifications .notification-item i[b-rq0fm5ib19] {
            margin: 0 20px 0 10px;
            font-size: 24px;
        }

        .header-nav .notifications .notification-item h4[b-rq0fm5ib19] {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .header-nav .notifications .notification-item p[b-rq0fm5ib19] {
            font-size: 13px;
            margin-bottom: 3px;
            color: #919191;
        }

        .header-nav .notifications .notification-item:hover[b-rq0fm5ib19] {
            background-color: #f6f9ff;
        }

.header-nav .messages[b-rq0fm5ib19] {
    inset: 8px -15px auto auto !important;
}

    .header-nav .messages .message-item[b-rq0fm5ib19] {
        padding: 15px 10px;
        transition: 0.3s;
    }

        .header-nav .messages .message-item a[b-rq0fm5ib19] {
            display: flex;
        }

        .header-nav .messages .message-item img[b-rq0fm5ib19] {
            margin: 0 20px 0 10px;
            max-height: 40px;
        }

        .header-nav .messages .message-item h4[b-rq0fm5ib19] {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #444444;
        }

        .header-nav .messages .message-item p[b-rq0fm5ib19] {
            font-size: 13px;
            margin-bottom: 3px;
            color: #919191;
        }

        .header-nav .messages .message-item:hover[b-rq0fm5ib19] {
            background-color: #f6f9ff;
        }

.header-nav .profile[b-rq0fm5ib19] {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}

    .header-nav .profile .dropdown-header h6[b-rq0fm5ib19] {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 600;
        color: #444444;
    }

    .header-nav .profile .dropdown-header span[b-rq0fm5ib19] {
        font-size: 14px;
    }

    .header-nav .profile .dropdown-item[b-rq0fm5ib19] {
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;
    }

        .header-nav .profile .dropdown-item i[b-rq0fm5ib19] {
            margin-right: 10px;
            font-size: 18px;
            line-height: 0;
        }

        .header-nav .profile .dropdown-item:hover[b-rq0fm5ib19] {
            background-color: #f6f9ff;
        }

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar[b-rq0fm5ib19] {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 330px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

@media (max-width: 1199px) {
    .sidebar[b-rq0fm5ib19] {
        left: -300px;
    }
}

.sidebar[b-rq0fm5ib19]::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar[b-rq0fm5ib19]::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {

    #main[b-rq0fm5ib19],
    #footer[b-rq0fm5ib19] {
        margin-left: 330px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar[b-rq0fm5ib19] {
        left: 0;
    }
}

@media (min-width: 1200px) {

    .toggle-sidebar #main[b-rq0fm5ib19],
    .toggle-sidebar #footer[b-rq0fm5ib19] {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar[b-rq0fm5ib19] {
        left: -330px;
    }
}

.sidebar-nav[b-rq0fm5ib19] {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .sidebar-nav li[b-rq0fm5ib19] {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sidebar-nav .nav-item[b-rq0fm5ib19] {
        margin-bottom: 5px;
    }

    .sidebar-nav .nav-heading[b-rq0fm5ib19] {
        font-size: 11px;
        text-transform: uppercase;
        color: #899bbd;
        font-weight: 600;
        margin: 10px 0 5px 15px;
    }

    .sidebar-nav .nav-link[b-rq0fm5ib19] {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        color: #4154f1;
        transition: 0.3;
        background: #f6f9ff;
        padding: 10px 15px;
        border-radius: 4px;
    }

        .sidebar-nav .nav-link i[b-rq0fm5ib19] {
            font-size: 16px;
            margin-right: 10px;
            color: #4154f1;
        }

        .sidebar-nav .nav-link.collapsed[b-rq0fm5ib19] {
            color: #012970;
            background: #fff;
        }

            .sidebar-nav .nav-link.collapsed i[b-rq0fm5ib19] {
                color: #899bbd;
            }

        .sidebar-nav .nav-link:hover[b-rq0fm5ib19] {
            color: #4154f1;
            background: #f6f9ff;
        }

            .sidebar-nav .nav-link:hover i[b-rq0fm5ib19] {
                color: #4154f1;
            }

        .sidebar-nav .nav-link .bi-chevron-down[b-rq0fm5ib19] {
            margin-right: 0;
            transition: transform 0.2s ease-in-out;
        }

        .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down[b-rq0fm5ib19] {
            transform: rotate(180deg);
        }

    .sidebar-nav .nav-content[b-rq0fm5ib19] {
        padding: 5px 0 0 0;
        margin: 0;
        list-style: none;
    }

        .sidebar-nav .nav-content a[b-rq0fm5ib19] {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            color: #012970;
            transition: 0.3;
            padding: 10px 0 10px 40px;
            transition: 0.3s;
        }

            .sidebar-nav .nav-content a i[b-rq0fm5ib19] {
                font-size: 6px;
                margin-right: 8px;
                line-height: 0;
                border-radius: 50%;
            }

            .sidebar-nav .nav-content a:hover[b-rq0fm5ib19],
            .sidebar-nav .nav-content a.active[b-rq0fm5ib19] {
                color: #4154f1;
            }

                .sidebar-nav .nav-content a.active i[b-rq0fm5ib19] {
                    background-color: #4154f1;
                }

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter[b-rq0fm5ib19] {
    position: absolute;
    right: 0px;
    top: 15px;
}

    .dashboard .filter .icon[b-rq0fm5ib19] {
        color: #aab7cf;
        padding-right: 20px;
        padding-bottom: 5px;
        transition: 0.3s;
        font-size: 16px;
    }

        .dashboard .filter .icon:hover[b-rq0fm5ib19],
        .dashboard .filter .icon:focus[b-rq0fm5ib19] {
            color: #4154f1;
        }

    .dashboard .filter .dropdown-header[b-rq0fm5ib19] {
        padding: 8px 15px;
    }

        .dashboard .filter .dropdown-header h6[b-rq0fm5ib19] {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #aab7cf;
            margin-bottom: 0;
            padding: 0;
        }

    .dashboard .filter .dropdown-item[b-rq0fm5ib19] {
        padding: 8px 15px;
    }

/* Info Cards */
.dashboard .info-card[b-rq0fm5ib19] {
    padding-bottom: 10px;
}

    .dashboard .info-card h6[b-rq0fm5ib19] {
        font-size: 28px;
        color: #012970;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

.dashboard .card-icon[b-rq0fm5ib19] {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon[b-rq0fm5ib19] {
    color: #4154f1;
    background: #f6f6fe;
}

.dashboard .revenue-card .card-icon[b-rq0fm5ib19] {
    color: #2eca6a;
    background: #e0f8e9;
}

.dashboard .customers-card .card-icon[b-rq0fm5ib19] {
    color: #ff771d;
    background: #ffecdf;
}

/* Activity */
.dashboard .activity[b-rq0fm5ib19] {
    font-size: 14px;
}

    .dashboard .activity .activity-item .activite-label[b-rq0fm5ib19] {
        color: #888;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 64px;
    }

        .dashboard .activity .activity-item .activite-label[b-rq0fm5ib19]::before {
            content: "";
            position: absolute;
            right: -11px;
            width: 4px;
            top: 0;
            bottom: 0;
            background-color: #eceefe;
        }

    .dashboard .activity .activity-item .activity-badge[b-rq0fm5ib19] {
        margin-top: 3px;
        z-index: 1;
        font-size: 11px;
        line-height: 0;
        border-radius: 50%;
        flex-shrink: 0;
        border: 3px solid #fff;
        flex-grow: 0;
    }

    .dashboard .activity .activity-item .activity-content[b-rq0fm5ib19] {
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .dashboard .activity .activity-item:first-child .activite-label[b-rq0fm5ib19]::before {
        top: 5px;
    }

    .dashboard .activity .activity-item:last-child .activity-content[b-rq0fm5ib19] {
        padding-bottom: 0;
    }

/* News & Updates */
.dashboard .news .post-item + .post-item[b-rq0fm5ib19] {
    margin-top: 15px;
}

.dashboard .news img[b-rq0fm5ib19] {
    width: 80px;
    float: left;
    border-radius: 5px;
}

.dashboard .news h4[b-rq0fm5ib19] {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}

    .dashboard .news h4 a[b-rq0fm5ib19] {
        color: #012970;
        transition: 0.3s;
    }

        .dashboard .news h4 a:hover[b-rq0fm5ib19] {
            color: #4154f1;
        }

.dashboard .news p[b-rq0fm5ib19] {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales[b-rq0fm5ib19] {
    font-size: 14px;
}

    .dashboard .recent-sales .table thead[b-rq0fm5ib19] {
        background: #f6f6fe;
    }

        .dashboard .recent-sales .table thead th[b-rq0fm5ib19] {
            border: 0;
        }

    .dashboard .recent-sales .dataTable-top[b-rq0fm5ib19] {
        padding: 0 0 10px 0;
    }

    .dashboard .recent-sales .dataTable-bottom[b-rq0fm5ib19] {
        padding: 10px 0 0 0;
    }

/* Top Selling */
.dashboard .top-selling[b-rq0fm5ib19] {
    font-size: 14px;
}

    .dashboard .top-selling .table thead[b-rq0fm5ib19] {
        background: #f6f6fe;
    }

        .dashboard .top-selling .table thead th[b-rq0fm5ib19] {
            border: 0;
        }

    .dashboard .top-selling .table tbody td[b-rq0fm5ib19] {
        vertical-align: middle;
    }

    .dashboard .top-selling img[b-rq0fm5ib19] {
        border-radius: 5px;
        max-width: 60px;
    }

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist[b-rq0fm5ib19] {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.25rem;
    padding-top: 15px;
}

    .iconslist .icon[b-rq0fm5ib19] {
        background-color: #fff;
        border-radius: 0.25rem;
        text-align: center;
        color: #012970;
        padding: 15px 0;
    }

    .iconslist i[b-rq0fm5ib19] {
        margin: 0.25rem;
        font-size: 2.5rem;
    }

    .iconslist .label[b-rq0fm5ib19] {
        font-family: var(--bs-font-monospace);
        display: inline-block;
        width: 100%;
        overflow: hidden;
        padding: 0.25rem;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666;
    }

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img[b-rq0fm5ib19] {
    max-width: 120px;
}

.profile .profile-card h2[b-rq0fm5ib19] {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
}

.profile .profile-card h3[b-rq0fm5ib19] {
    font-size: 18px;
}

.profile .profile-card .social-links a[b-rq0fm5ib19] {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

    .profile .profile-card .social-links a:hover[b-rq0fm5ib19] {
        color: #012970;
    }

.profile .profile-overview .row[b-rq0fm5ib19] {
    margin-bottom: 20px;
    font-size: 15px;
}

.profile .profile-overview .card-title[b-rq0fm5ib19] {
    color: #012970;
}

.profile .profile-overview .label[b-rq0fm5ib19] {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label[b-rq0fm5ib19] {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img[b-rq0fm5ib19] {
    max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6[b-rq0fm5ib19] {
    font-size: 18px;
    font-weight: 600;
    color: #4154f1;
}

.faq .basic p[b-rq0fm5ib19] {
    color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box[b-rq0fm5ib19] {
    padding: 28px 30px;
}

    .contact .info-box i[b-rq0fm5ib19] {
        font-size: 38px;
        line-height: 0;
        color: #4154f1;
    }

    .contact .info-box h3[b-rq0fm5ib19] {
        font-size: 20px;
        color: #012970;
        font-weight: 700;
        margin: 20px 0 10px 0;
    }

    .contact .info-box p[b-rq0fm5ib19] {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

.contact .php-email-form .error-message[b-rq0fm5ib19] {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message[b-rq0fm5ib19] {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading[b-rq0fm5ib19] {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

    .contact .php-email-form .loading[b-rq0fm5ib19]:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading-b-rq0fm5ib19 1s linear infinite;
    }

.contact .php-email-form input[b-rq0fm5ib19],
.contact .php-email-form textarea[b-rq0fm5ib19] {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

    .contact .php-email-form input:focus[b-rq0fm5ib19],
    .contact .php-email-form textarea:focus[b-rq0fm5ib19] {
        border-color: #4154f1;
    }

.contact .php-email-form input[b-rq0fm5ib19] {
    padding: 10px 15px;
}

.contact .php-email-form textarea[b-rq0fm5ib19] {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit][b-rq0fm5ib19] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

    .contact .php-email-form button[type=submit]:hover[b-rq0fm5ib19] {
        background: #5969f3;
    }

@keyframes animate-loading-b-rq0fm5ib19 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404[b-rq0fm5ib19] {
    padding: 30px;
}

    .error-404 h1[b-rq0fm5ib19] {
        font-size: 180px;
        font-weight: 700;
        color: #4154f1;
        margin-bottom: 0;
        line-height: 150px;
    }

    .error-404 h2[b-rq0fm5ib19] {
        font-size: 24px;
        font-weight: 700;
        color: #012970;
        margin-bottom: 30px;
    }

    .error-404 .btn[b-rq0fm5ib19] {
        background: #51678f;
        color: #fff;
        padding: 8px 30px;
    }

        .error-404 .btn:hover[b-rq0fm5ib19] {
            background: #3e4f6f;
        }

@media (min-width: 992px) {
    .error-404 img[b-rq0fm5ib19] {
        max-width: 50%;
    }
}

.btn[b-rq0fm5ib19] {
    min-width: 120px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer[b-rq0fm5ib19] {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}

    .footer .copyright[b-rq0fm5ib19] {
        text-align: center;
        color: #012970;
    }

    .footer .credits[b-rq0fm5ib19] {
        padding-top: 5px;
        text-align: center;
        font-size: 13px;
        color: #012970;
    }
